@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Ubuntu;
    /* font-weight: 450; */
}

.site {
    display: flex;
    flex-direction: column;
}

.conteudo {
    width: 1320px;
    margin: 0 auto;
    border: dotted 2px #fbff00;
}

/* CABEÇALHO */

.cabecalho {
    /* background-color: aqua; */
    height: 120px;
    background-color: transparent;
    background-image: linear-gradient(180deg, #FFFFFF 0%, #DBDBDB 100%);
}

.cabecalho .conteudo {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalho .conteudo .logo {
    max-width: 165px;
}

.cabecalho .conteudo .menus ul {
    display: flex;
    list-style: none;
    gap: 20px;
    font-weight: 100;
} 

.redes {
    display: flex;
    gap: 10px;
}

.cabecalho .conteudo .menus ul li:not(:nth-child(7)):not(:nth-child(1)) a{
    text-decoration: none;
    color: #fff;
    /* text-align: center; */
    display: flex;
    
    align-items: center;
    background-color: #9b9b9b;
    padding: 8px;
    border-radius: 100px;
    font-size: 18px;
    line-height: 18px;
    /* width:  */
}

.cabecalho .conteudo .menus ul li:nth-child(7) a{
    display: flex;
    transition: all 0.2s ease-out;
    color: #fff;
    border-radius: 100px;
    border: #0082c4 solid 1px;
    /* background-color: transparent; */
    text-decoration: none;
    padding: 8px;
    background-image: linear-gradient(180deg, #0082c4 0%, #003c6a 100%);
}

.cabecalho .conteudo .menus ul li:nth-child(7) a:hover {
    color: #0082c4;
    background-image: none;
}

.bi-search {
    display: inline;
    padding: 5px;
    display: inline-block;
    margin: 3px 2px;
    background-color: #E4E4E4;
    border: 2px solid #9B9B9B;
    border-radius: 150px;
    font-size: 18px;
    height: 30px;
    line-height: 18px;
    text-align: center;
    color: #9B9B9B;
    cursor: pointer;
    z-index: 2;
}

/* MENU */

.menu {
    height: 60px;
    background-image: linear-gradient(180deg, #FFFFFF 0%, #DBDBDB 100%);

    display: flex;
}

.menu .conteudo {
    display: flex;
    align-items: center;
}

.menu ul {
    flex-basis: 100%;
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.menu ul li a{
    text-decoration: none;
    color: #003C6A;
    font-weight: 450;
    padding: 20px;
}

.menu ul li a:hover{
    text-decoration: none;
    background-color: #FFFFFF;
    border-radius: 3px;
}

/* BANNER */

.banner img {
    width: 100%;
    display: flex;
}

/* NOTICIAS & COMPETENCIAS */

.noticias-competencias {
    background-image: linear-gradient(180deg, #00315E 0%, #000825 100%);
}

.noticias-competencias h2{
    color: #fff;
    font-weight: 500;
    margin-top: 80px;
    font-size: 28px;
}

.conteudo-noticias {
    display: flex;
    justify-content: space-between;
}

/* CARD */

.card-noticias {
    flex-basis: 24%;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding-bottom: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #005CAAC7;
}

.card-noticias .card-noticias-data {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    position: absolute;
    top: 190px;
    width: 100%;
    background-color: #00315eec;
    color: #50c4ff;
    font-weight: 400;
    transition: all 0.2s ease-out;
}

.card-noticias .card-noticias-imagem:hover .card-noticias-data {
    top: 220px;
}

.card-noticias .card-noticias-imagem {
    height: 220px;
    overflow: hidden;
    position: relative;
}

.card-noticias .card-noticias-imagem img{
    width: 100%;
    transition: all 0.4s ease-out;
}

.card-noticias .card-noticias-imagem:hover img{
    transform: scale(1.1);
}

.card-noticias-texto {
    color: #003C6A;
    font-size: 17px;
    font-weight: 200;
    line-height: 22px;
    padding: 15px;
}

.card-noticias .dif {
    margin-top: 20px;
}

.card-noticias .leia-mais .btn {
    background-color: #EBEBEB;
    border-radius: 15px;
    padding: 5px 10px;
    margin: 10px;
    text-decoration: none;
    color: #0082c4;
    font-style: italic;
    font-weight: 200;
    float: right;
    margin-right: 20px;
}

.card-noticias .leia-mais .btn:hover {
    color: #ffffff;
    background-color: #0082c4;
}
